Repository jtdowney/unitest: changes, and which pre-commit hooks are due for each by the changed paths.
All: gleam-check, gleam-format, erlfmt, prettier, eslint

gleam-check:
  name: gleam check
  entry: gleam check
  language: system
  pass_filenames: false

gleam-format:
  name: gleam format --check
  entry: gleam format --check src test
  language: system
  pass_filenames: false

erlfmt:
  name: erlfmt
  entry: rebar3 fmt -c
  language: system
  pass_filenames: false

prettier:
  name: prettier --check
  entry: bun run format
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bun run lint
  language: system
  pass_filenames: false

docs: update gleeunit statement in readme
  README.md
Due: none

chore: add license file
  LICENSE
Due: none

feat: add test_directory option to Options type
  src/unitest.gleam
Due: gleam-check, gleam-format, prettier

chore: update example to use default_options
  examples/demo/test/demo_test.gleam
Due: none

feat: add rich test failure formatting
  src/unitest.gleam
  src/unitest/internal/runner.gleam
  src/unitest/internal/test_failure.gleam
  src/unitest_ffi.mjs
  src/unitest_ffi_erl.erl
  test/unitest/internal/discover_test.gleam
  test/unitest/internal/runner_test.gleam
  test/unitest/internal/test_failure_test.gleam
Due: gleam-check, gleam-format, erlfmt, prettier, eslint

fix: support custom test_directory and validate --test format
  src/unitest/internal/cli.gleam
  src/unitest/internal/discover.gleam
  test/unitest/internal/cli_test.gleam
  test/unitest/internal/discover_test.gleam
Due: gleam-check, gleam-format, prettier

chore: add future ideas to readme
  README.md
Due: none

refactor: rename unitest_ffi_erl to unitest_ffi
  src/unitest.gleam
  src/unitest_ffi.erl
Due: gleam-check, gleam-format, erlfmt, prettier

chore: prepare v1.0.0 release
  CHANGELOG.md
Due: none

Always halt regardless of exit code
  src/unitest.gleam
Due: gleam-check, gleam-format, prettier

feat: add file path and line number filtering support
  src/unitest/internal/cli.gleam
  src/unitest/internal/discover.gleam
  src/unitest/internal/runner.gleam
  src/unitest_ffi.erl
  test/unitest/internal/cli_test.gleam
  test/unitest/internal/discover_test.gleam
  test/unitest/internal/runner_test.gleam
Due: gleam-check, gleam-format, erlfmt, prettier

docs: update CLI usage for file path and line filtering
  README.md
Due: none

feat: improve undefined function error messages
  examples/demo/src/demo.gleam
  examples/demo/src/demo_ffi.mjs
  src/unitest_ffi.erl
  src/unitest_ffi.mjs
Due: erlfmt, prettier, eslint

docs: update CLI usage for file path and line filtering
  CLAUDE.md
  README.md
Due: none

chore(demo): add test failures to demo output
  examples/demo/test/demo_test.gleam
Due: none

fix: always halt regardless of exit code (#1)
  src/unitest.gleam
Due: gleam-check, gleam-format, prettier

chore: prepare v1.1.0 release
  CHANGELOG.md
  gleam.toml
Due: none

chore: use unitest to test itself
  gleam.toml
  manifest.toml
  test/unitest_test.gleam
Due: none

refactor: minor exit_code cleanup
  src/unitest.gleam
Due: gleam-check, gleam-format, prettier

feat: add table format output for test results
  birdie_snapshots/all_failing_tests_table.accepted
  birdie_snapshots/all_passing_tests_table.accepted
  birdie_snapshots/color_mode_shows_symbols_with_ansi_codes.accepted
  birdie_snapshots/empty_results_table.accepted
  birdie_snapshots/mixed_results_table.accepted
  birdie_snapshots/no_color_mode_shows_pass_fail_skip_text.accepted
  gleam.toml
  manifest.toml
  src/unitest.gleam
  src/unitest/internal/cli.gleam
  src/unitest/internal/format_table.gleam
  src/unitest/internal/runner.gleam
  src/unitest_ffi.mjs
  test/unitest/internal/cli_test.gleam
  test/unitest/internal/format_table_test.gleam
  test/unitest/internal/runner_test.gleam
Due: gleam-check, gleam-format, prettier, eslint

feat: add table format output for test results
  CLAUDE.md
  birdie_snapshots/all_failing_tests_table.accepted
  birdie_snapshots/all_passing_tests_table.accepted
  birdie_snapshots/color_mode_shows_symbols_with_ansi_codes.accepted
  birdie_snapshots/empty_results_table.accepted
  birdie_snapshots/mixed_results_table.accepted
  birdie_snapshots/no_color_mode_shows_pass_fail_skip_text.accepted
  gleam.toml
  manifest.toml
  src/unitest.gleam
  src/unitest/internal/cli.gleam
  src/unitest/internal/format_table.gleam
  src/unitest/internal/runner.gleam
  src/unitest_ffi.mjs
  test/unitest/internal/cli_test.gleam
  test/unitest/internal/format_table_test.gleam
  test/unitest/internal/runner_test.gleam
Due: gleam-check, gleam-format, prettier, eslint

ci: run tests against nodejs as well
  .github/workflows/test.yml
Due: none

docs: add --reporter table option to README
  README.md
Due: none

Path conditions:
  gleam-check: any of: ^src/.*\.gleam$
  gleam-format: any of: ^src/.*\.gleam$
  erlfmt: any of: ^src/.*\.erl$
  prettier: any of: ^src/.*\.*$
  eslint: any of: ^src/.*\.mjs$
