Repository jtdowney/unitest: changes, and which pre-commit hooks are due for each by the changed paths.
All: gleam-check, gleam-format, erlfmt, prettier, eslint

gleam-check:
  name: gleam check
  entry: gleam check
  language: system
  pass_filenames: false

gleam-format:
  name: gleam format --check
  entry: gleam format --check src test
  language: system
  pass_filenames: false

erlfmt:
  name: erlfmt
  entry: rebar3 fmt -c
  language: system
  pass_filenames: false

prettier:
  name: prettier --check
  entry: bun run format
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bun run lint
  language: system
  pass_filenames: false

refactor: unify state updates via add_result
  src/unitest/internal/runner.gleam
Due: gleam-check, gleam-format, prettier

refactor: call format_assert_values directly without dummy record
  src/unitest/internal/test_failure.gleam
Due: gleam-check, gleam-format, prettier

refactor: inline parse_module_for_target into parse_module
  src/unitest/internal/discover.gleam
Due: gleam-check, gleam-format, prettier

refactor: dedupe generic test-failure construction in FFI
  src/unitest_common_ffi.mjs
  src/unitest_ffi.erl
  src/unitest_worker_ffi.mjs
Due: erlfmt, prettier, eslint

refactor: remove unused expression_start field
  src/unitest/internal/js_decode.gleam
  src/unitest/internal/runner.gleam
  src/unitest/internal/test_failure.gleam
  src/unitest_common_ffi.mjs
  src/unitest_ffi.erl
  test/unitest/internal/js_decode_test.gleam
  test/unitest/internal/test_failure_test.gleam
Due: gleam-check, gleam-format, erlfmt, prettier, eslint

refactor: derive report counts from results in ExecutionState
  src/unitest/internal/runner.gleam
Due: gleam-check, gleam-format, prettier

refactor: cleanups across internal modules
  src/unitest/internal/cli.gleam
  src/unitest/internal/discover.gleam
  src/unitest/internal/format_table.gleam
  src/unitest/internal/test_failure.gleam
Due: gleam-check, gleam-format, prettier

refactor: fold parallel threshold into resolve_execution_mode
  src/unitest.gleam
  test/unitest_test.gleam
Due: gleam-check, gleam-format, prettier

fix: fall back to sequential below the parallel threshold
  src/unitest.gleam
  test/unitest_test.gleam
Due: gleam-check, gleam-format, prettier

refactor: drop wrap_pool_result shim
  src/unitest/internal/js_decode.gleam
  src/unitest_ffi.mjs
  test/unitest/internal/js_decode_test.gleam
Due: gleam-check, gleam-format, prettier, eslint

refactor: unify TestRunResult into Outcome
  src/unitest.gleam
  src/unitest/internal/js_decode.gleam
  src/unitest/internal/runner.gleam
  src/unitest_ffi.erl
  test/unitest/internal/js_decode_test.gleam
  test/unitest/internal/runner_test.gleam
Due: gleam-check, gleam-format, erlfmt, prettier

fix: only treat an exact 'name' key as the package name
  src/unitest.gleam
  test/unitest_test.gleam
Due: gleam-check, gleam-format, prettier

feat: warn when no tests are discovered
  src/unitest.gleam
Due: gleam-check, gleam-format, prettier

feat: warn when a test file fails to parse
  src/unitest/internal/discover.gleam
Due: gleam-check, gleam-format, prettier

chore: update dependencies
  bun.lock
  package.json
Due: none

chore: prepare v1.6.0 release
  CHANGELOG.md
  gleam.toml
Due: none

chore: cleanup
  CLAUDE.md
Due: none

ci: update gleam to 1.17
  .github/workflows/test.yml
Due: none

docs: restyle changelog bullets as plain prose
  CHANGELOG.md
Due: none

chore: update dependencies
  manifest.toml
Due: none

Path conditions:
  gleam-check: any of: ^src/.*\.gleam$
  gleam-format: any of: ^src/.*\.gleam$
  erlfmt: any of: ^src/.*\.erl$
  prettier: any of: ^src/.*\.*$
  eslint: any of: ^src/.*\.mjs$
