Repository jtdowney/unitest: changes, and which pre-commit hooks are due for each by the changed paths.
All: gleam-check, gleam-format, erlfmt, prettier, eslint

gleam-check:
  name: gleam check
  entry: gleam check
  language: system
  pass_filenames: false

gleam-format:
  name: gleam format --check
  entry: gleam format --check src test
  language: system
  pass_filenames: false

erlfmt:
  name: erlfmt
  entry: rebar3 fmt -c
  language: system
  pass_filenames: false

prettier:
  name: prettier --check
  entry: bun run format
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bun run lint
  language: system
  pass_filenames: false

docs: cleanup before v2 release
  src/unitest.gleam
Due: gleam-check, gleam-format, prettier

refactor: replace @target with external fallbacks
  src/unitest.gleam
  src/unitest/internal/discovery.gleam
  src/unitest_ffi.mjs
Due: gleam-check, gleam-format, prettier, eslint

refactor: inline single-caller wrapper helpers
  src/unitest.gleam
  src/unitest_ffi.mjs
Due: gleam-check, gleam-format, prettier, eslint

ci: test gleam nightly
  .github/workflows/test.yml
Due: none

ci: run every week
  .github/workflows/test.yml
Due: none

ci: skip failing whole matrix
  .github/workflows/test.yml
Due: none

ci: update gleam to 1.18
  .github/workflows/test.yml
Due: none

style: enforce curly braces in JS lint
  eslint.config.mjs
  src/unitest_ffi.mjs
Due: prettier, eslint

build: allow Glance 7
  gleam.toml
  manifest.toml
Due: none

test: verify Glance 7 lock
  manifest.toml
Due: none

build: allow Glance 7 (#2)
  gleam.toml
  manifest.toml
Due: none

build: update prng and deps
  example/manifest.toml
  gleam.toml
  manifest.toml
Due: none

chore: prepare v1.6.1 release
  CHANGELOG.md
  gleam.toml
Due: none

chore: update prng to 6.0
  gleam.toml
  manifest.toml
Due: none

ci: update gleam to 1.19
  .github/workflows/test.yml
Due: none

chore: format with gleam 1.19
  src/unitest/internal/outcome.gleam
Due: gleam-check, gleam-format, prettier

Path conditions:
  gleam-check: any of: ^src/.*\.gleam$
  gleam-format: any of: ^src/.*\.gleam$
  erlfmt: any of: ^src/.*\.erl$
  prettier: any of: ^src/.*\.*$
  eslint: any of: ^src/.*\.mjs$
