Repository jtdowney/unitest: changes, and which pre-commit hooks are due for each by the changed paths.
All: gleam-check, gleam-format, erlfmt, prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: gleam-check
        name: gleam check
        entry: gleam check
        language: system
        files: ^src/.*\.gleam$
        pass_filenames: false
      - id: gleam-format
        name: gleam format --check
        entry: gleam format --check src test
        language: system
        files: ^src/.*\.gleam$
        pass_filenames: false
      - id: erlfmt
        name: erlfmt
        entry: rebar3 fmt -c
        language: system
        files: ^src/.*\.erl$
        pass_filenames: false
      - id: prettier
        name: prettier --check
        entry: bun run format
        language: system
        files: ^src/.*\.*$
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bun run lint
        language: system
        files: ^src/.*\.mjs$
        pass_filenames: false

docs: add --reporter table option to README
  README.md
Due: none

chore: prepare v1.2.0 release
  CHANGELOG.md
  gleam.toml
Due: none

feat: sort table reporter output by duration descending
  birdie_snapshots/all_failing_tests_table.accepted
  birdie_snapshots/all_passing_tests_table.accepted
  birdie_snapshots/color_mode_shows_symbols_with_ansi_codes.accepted
  birdie_snapshots/mixed_results_table.accepted
  birdie_snapshots/no_color_mode_shows_pass_fail_skip_text.accepted
  src/unitest/internal/format_table.gleam
Due: gleam-check, gleam-format, prettier

chore(demo): update dependencies for the demo
  examples/demo/manifest.toml
Due: none

feat: filter tests by @target attribute
  src/unitest/internal/discover.gleam
Due: gleam-check, gleam-format, prettier

feat: use cooperative yielding for running tests
  src/unitest.gleam
  src/unitest/internal/runner.gleam
  src/unitest_ffi.erl
  src/unitest_ffi.mjs
  test/unitest/internal/runner_test.gleam
  test/unitest_test.gleam
  test/unitest_test_ffi.erl
  test/unitest_test_ffi.mjs
Due: gleam-check, gleam-format, erlfmt, prettier, eslint

feat: add configurable table sorting
  README.md
  birdie_snapshots/all_failing_tests_table.accepted
  birdie_snapshots/color_mode_shows_symbols_with_ansi_codes.accepted
  birdie_snapshots/mixed_results_table.accepted
  birdie_snapshots/native_sort_reversed_shows_results_in_reverse_execution_order.accepted
  birdie_snapshots/sort_by_name_reversed_shows_reverse_alphabetical_order.accepted
  birdie_snapshots/sort_by_name_shows_alphabetical_order.accepted
  birdie_snapshots/sort_by_time_descending_shows_slowest_first.accepted
  birdie_snapshots/sort_by_time_reversed_shows_fastest_first.accepted
  src/unitest.gleam
  src/unitest/internal/cli.gleam
  src/unitest/internal/format_table.gleam
  test/unitest/internal/cli_test.gleam
  test/unitest/internal/format_table_test.gleam
  test/unitest/internal/runner_test.gleam
Due: gleam-check, gleam-format, prettier

feat: add configurable table sorting
  CLAUDE.md
  README.md
  birdie_snapshots/all_failing_tests_table.accepted
  birdie_snapshots/color_mode_shows_symbols_with_ansi_codes.accepted
  birdie_snapshots/mixed_results_table.accepted
  birdie_snapshots/native_sort_reversed_shows_results_in_reverse_execution_order.accepted
  birdie_snapshots/sort_by_name_reversed_shows_reverse_alphabetical_order.accepted
  birdie_snapshots/sort_by_name_shows_alphabetical_order.accepted
  birdie_snapshots/sort_by_time_descending_shows_slowest_first.accepted
  birdie_snapshots/sort_by_time_reversed_shows_fastest_first.accepted
  src/unitest.gleam
  src/unitest/internal/cli.gleam
  src/unitest/internal/format_table.gleam
  test/unitest/internal/cli_test.gleam
  test/unitest/internal/format_table_test.gleam
  test/unitest/internal/runner_test.gleam
Due: gleam-check, gleam-format, prettier

docs: update readme with downsides
  README.md
Due: none

chore: prepare v1.3.0 release
  CHANGELOG.md
  gleam.toml
Due: none

fix: sort skipped tests after 0ms tests in table reporter
  birdie_snapshots/sort_by_time_ascending_puts_skipped_after_0ms_tests.accepted
  birdie_snapshots/sort_by_time_descending_puts_skipped_after_0ms_tests.accepted
  src/unitest/internal/format_table.gleam
  test/unitest/internal/format_table_test.gleam
Due: gleam-check, gleam-format, prettier

chore: prepare v1.3.1 release
  CHANGELOG.md
  gleam.toml
Due: none

refactor: simplify get_package_name with use syntax
  src/unitest.gleam
Due: gleam-check, gleam-format, prettier

refactor: clean up name sorting
  src/unitest/internal/format_table.gleam
Due: gleam-check, gleam-format, prettier

feat: treat Error results from tests as failures
  README.md
  examples/demo/test/demo_test.gleam
  src/unitest_ffi.erl
  src/unitest_ffi.mjs
Due: erlfmt, prettier, eslint

feat: add unitest.guard for runtime test skipping
  README.md
  examples/demo/gleam.toml
  examples/demo/manifest.toml
  examples/demo/src/unitest_guard_demo_ffi.erl
  examples/demo/test/guard_test.gleam
  src/unitest.gleam
  src/unitest/internal/runner.gleam
  src/unitest_ffi.erl
  src/unitest_ffi.mjs
  test/unitest/internal/runner_test.gleam
Due: gleam-check, gleam-format, erlfmt, prettier, eslint

refactor: small cleanups
  src/unitest.gleam
  src/unitest/internal/cli.gleam
  src/unitest/internal/runner.gleam
  src/unitest/internal/test_failure.gleam
Due: gleam-check, gleam-format, prettier

chore: prepare v1.4.0 release
  CHANGELOG.md
  gleam.toml
Due: none

fix: make Error result checking opt-in via check_results option
  README.md
  examples/demo/test/demo_test.gleam
  src/unitest.gleam
  src/unitest_ffi.erl
  src/unitest_ffi.mjs
Due: gleam-check, gleam-format, erlfmt, prettier, eslint

chore: remove deno reference
  CLAUDE.md
Due: none

chore: prepare v1.4.1 release
  CHANGELOG.md
  gleam.toml
Due: none

test: clean up test suite and add some property based tests
  gleam.toml
  manifest.toml
  test/unitest/internal/cli_test.gleam
  test/unitest/internal/discover_test.gleam
  test/unitest/internal/format_table_test.gleam
  test/unitest/internal/runner_test.gleam
  test/unitest/internal/test_failure_test.gleam
  test/unitest_test.gleam
Due: none
