Repository jtdowney/unitest: changes, and which pre-commit hooks are due for each by the changed paths.
All: gleam-check, gleam-format, erlfmt, prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: gleam-check
        name: gleam check
        entry: gleam check
        language: system
        files: ^src/.*\.gleam$
        pass_filenames: false
      - id: gleam-format
        name: gleam format --check
        entry: gleam format --check src test
        language: system
        files: ^src/.*\.gleam$
        pass_filenames: false
      - id: erlfmt
        name: erlfmt
        entry: rebar3 fmt -c
        language: system
        files: ^src/.*\.erl$
        pass_filenames: false
      - id: prettier
        name: prettier --check
        entry: bun run format
        language: system
        files: ^src/.*\.*$
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bun run lint
        language: system
        files: ^src/.*\.mjs$
        pass_filenames: false

fix: use lazy_guard in unitest.guard to prevent eager skip evaluation
  src/unitest.gleam
  test/unitest_test.gleam
Due: gleam-check, gleam-format, prettier

chore: prepare v1.4.2 release
  CHANGELOG.md
  gleam.toml
Due: none

refactor: replace FFI auto_seed with int.random from stdlib
  src/unitest.gleam
  src/unitest_ffi.erl
  src/unitest_ffi.mjs
Due: gleam-check, gleam-format, erlfmt, prettier, eslint

chore: update dependencies
  bun.lock
  gleam.toml
  manifest.toml
  package.json
Due: none

chore: prepare v1.4.3 release
  CHANGELOG.md
  gleam.toml
Due: none

fix: validate non-empty segments in parse_test_filter
  src/unitest/internal/cli.gleam
  test/unitest/internal/cli_test.gleam
Due: gleam-check, gleam-format, prettier

refactor: replace custom shuffle with prng 5.1.0 random.shuffle
  gleam.toml
  manifest.toml
  src/unitest.gleam
  src/unitest/internal/runner.gleam
  test/unitest/internal/runner_test.gleam
Due: gleam-check, gleam-format, prettier

feat: shuffle tests by module group instead of flat
  src/unitest.gleam
Due: gleam-check, gleam-format, prettier

feat: add parallel test execution with module-group pooling
  README.md
  examples/demo/manifest.toml
  src/unitest.gleam
  src/unitest/internal/cli.gleam
  src/unitest/internal/js_decode.gleam
  src/unitest/internal/runner.gleam
  src/unitest_common_ffi.mjs
  src/unitest_ffi.erl
  src/unitest_ffi.mjs
  src/unitest_worker_ffi.mjs
  test/unitest/internal/cli_test.gleam
  test/unitest/internal/js_decode_test.gleam
  test/unitest/internal/runner_test.gleam
  test/unitest_test.gleam
  test/unitest_test_ffi.erl
  test/unitest_test_ffi.mjs
Due: gleam-check, gleam-format, erlfmt, prettier, eslint

chore: prepare v1.5.0 release
  CHANGELOG.md
  gleam.toml
Due: none

chore: move demo app to example
  example/.gitignore
  example/README.md
  example/gleam.toml
  example/manifest.toml
  example/src/demo.gleam
  example/src/demo_ffi.mjs
  example/src/unitest_guard_demo_ffi.erl
  example/test/demo_test.gleam
  example/test/guard_test.gleam
  example/test/tagged_test.gleam
  example/test/wibble/wobble_test.gleam
  examples/demo/.github/workflows/test.yml
Due: none

chore: update dependencies
  manifest.toml
Due: none

fix(demo): fix dependency path
  example/gleam.toml
  example/manifest.toml
Due: none

refactor: improve type safety across codebase
  src/unitest.gleam
  src/unitest/internal/format_table.gleam
  src/unitest/internal/runner.gleam
  test/unitest/internal/runner_test.gleam
  test/unitest_test.gleam
Due: gleam-check, gleam-format, prettier

test: use qcheck.given with use syntax in property tests
  test/unitest/internal/discover_test.gleam
Due: none

chore: fix ignore paths after example rename
  .prettierignore
  eslint.config.mjs
Due: none

refactor: improve naming and simplify internals
  example/test/guard_test.gleam
  src/unitest.gleam
  src/unitest/internal/cli.gleam
  src/unitest/internal/runner.gleam
  src/unitest/internal/test_failure.gleam
  test/unitest/internal/test_failure_test.gleam
Due: gleam-check, gleam-format, prettier

docs: mark package name parsing internal
  src/unitest.gleam
Due: gleam-check, gleam-format, prettier
